@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Strelkovaya street,7<br />
    Grodno, Belarus<br />
    <abbr title="Phone">P:</abbr>
    +375&nbsp;(29)&nbsp;888&nbsp;32&nbsp;30&nbsp;(MTS)
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">pavel.zanevsky15@gmail.com</a><br />
</address>