@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.ActionLink("Customers", "Index", "Customer")
    @Html.ActionLink("Products", "Index", "Product")
    @Html.ActionLink("Orders", "Index", "Order")
    @Html.ActionLink("Managers", "Index", "Manager")
</div>

<div class="row">
</div>